# the .vscode
.vscode

# ignore .env in any dir
**/.env

# installed dependencies etc
**/.pnpm-store
**/node_modules
**/pnpm-lock.yaml

#locally installed packages
**/package-lock.json
./package.json
./node_modules

# database
**/drizzle/*
**/data/*