/* history.css */

/* Container for forms */
.hcontainer {
	@apply p-1 rounded-[15px] w-full;
}

/* All for the Middle */
.imiddle {
	@apply bg-black bg-opacity-80 fixed p-2 top-[200px] left-[220px] rounded-[15px] w-[75%] h-[75%] z-[1];
}

/* Title styling */
.header {
	@apply text-4xl my-1 box-border font-sans text-white text-center;
}
.Pongheader {
	@apply text-4xl mt-[-8px] mb-[-4px] box-border font-sans text-[#dbb9cd] text-center;
	text-shadow: 5px 5px 7px #902063;
}

/* Paragraph styling */
.p1 {
	@apply text-lg my-1 box-border font-sans text-white text-center;
}

/* Table Styling */
.userTable {
	@apply w-full border-collapse bg-white table-fixed;
}
.userTable td {
	@apply p-3 text-center text-black border-b border-gray-300 text-base font-sans;
}
.userTable th {
	@apply text-black p-3 bg-gray-300 font-bold text-lg font-sans sticky top-0 z-[2];
}

/* Scroll */
.table-wrapper {
	@apply pl-2 max-h-[640px] mt-[10px] w-full overflow-y-auto block;
}

/* Game */
.game-btn {
	@apply absolute left-[230px] top-[153px] bg-[#902063] w-[16vh] p-2 text-white cursor-pointer text-center text-lg font-sans flex justify-center rounded-md border-none;
}
.game-btn:hover {
	@apply bg-[#b86a8a];
}
.game-btn img {
	@apply w-[25px] h-[25px];
}
