/* adminPage.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Container for forms */
.container {
	background: rgba(0, 0, 0, 0.8);
	padding: 40px;
	border-radius: 15px;
	width: 77%;
	top: 170px;
	left: 170px;
	margin: 50px;
	position: fixed;
	justify-content: center;
	text-align: center;
	min-height: fit-content;
	height: 70%;
	z-index: 1;
}

/* Title styling */
.header {
	font-size: 2.5rem;
	margin-bottom: 5px;
	margin-top: 5px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	color: white;
	text-align: center;
}

/* Paragraph styling */
.p1 {
	font-size: 1.1rem;
	margin-bottom: 5px;
	margin-top: 5px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	color: white;
	text-align: center;
}

/* Table Styling */
.userTable {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	background-color: #ffffff;
}

.userTable th,
.userTable td {
	padding: 12px;
	text-align: left;
	color: rgb(0, 0, 0);
	border-bottom: 1px solid #ddd;
	font-size: 15px;
	font-family: Arial, sans-serif;
}

.userTable th {
	color: rgb(0, 0, 0);
	background-color: #d7d7d7;
	font-weight: bold;
	font-size: 17px;
	font-family: Arial, sans-serif;
}