/* home.css */

/* Container for forms */
.hcontainer {
	@apply flex justify-center p-5 w-full box-border gap-7 z-20;
}

/* All for the Middle */
.hmiddle {
	@apply flex p-2.5 rounded-xl mt-[200px] w-full h-full z-10 flex-col p-6 space-y-4 items-center justify-items-stretch bg-black/80;
}

/* Header */
.heder {
	@apply mb-[-30px] left-0 w-full text-center pt-2 font-bold text-[55px] font-sans text-[#dcdbdb] drop-shadow-[5px_5px_7px_#902063] z-10;
}
.line {
	@apply w-[90%] text-center border-b-[1.5px] border-[#902063];
}

/* Section for stats (Left) */
.user-stats {
	@apply w-[55%] h-[45vh] flex flex-col ml-2.5 flex-col gap-3.5 p-7 space-y-1 items-center justify-items-stretch rounded-lg z-10;
}
.stat-box {
	@apply w-[95%] mt-10 flex flex-col items-center text-center;
}
.smoll-stat-container {
	@apply flex justify-center w-full mt-2.5;
}
.smoll-stat-box {
	@apply rounded-md p-2.5 flex items-center gap-2.5;
}
.score-text, .best-score-text, .score-number {
	@apply font-bold text-[#dcdbdb] mt-[-20px];
}
.score-text {
	@apply text-[19px] mb-3;
}
.best-score-text {
	@apply text-[26px] font-bold;
}
.score-number {
	@apply text-[18px];
}
.best-score img {
	@apply w-[270px] h-[270px] object-cover rounded-full mt-[-120px] mb-[-60px];
}
.Sbest-score img {
	@apply w-[220px] h-[175px] object-cover mt-[-110px] mb-[-90px];
}
.win-losse img {
	@apply absolute flex w-[35px] h-[35px] mt-[-33px] ml-[-30px] object-cover rounded-full;
}

/* Section for leaderboard (Right) */
.leaderboard {
	@apply w-full min-h-[70px] flex flex-col border-2 border-[#902063] p-6 space-y-1 items-center justify-items-stretch rounded-lg;
	background-color: var(--color-bg);
}
.lboard {
	@apply text-center font-bold text-[28px] font-sans text-[#dcdbdb] mb-1 mt-4;
}
.leaderboard-entry {
	@apply mb-3.5 p-3.5 rounded-md flex items-center gap-1.5 justify-center;
}
.text-container {
	@apply items-end;
}
.position {
	@apply text-[16px] font-bold text-white;
}
.number {
	@apply text-[#dcdbdb] italic;
}
.text {
	@apply text-[#dcdbdb] text-[16px];
}
.number {
	@apply text-[14px] italic;
}
.img-container img {
	@apply w-[80px] h-[80px] object-cover rounded-full pr-2.5;
}

/* Button styling */
.hbuttons {
	@apply flex flex-col justify-center items-center;
}
.btn {
	@apply w-64 p-3 text-[1.1rem] text-white bg-[#902063] border-none rounded-md cursor-pointer transition duration-300 font-sans;
	position: static;
  	margin-top: 4.3rem;
}
.game-btn {
	@apply w-64 p-3 text-[1.1rem] text-white bg-[#902063] border-none rounded-md cursor-pointer transition duration-300 font-sans;
	position: static;
  	margin-top: 0.5rem;
}
.btn:hover, .game-btn:hover {
	@apply bg-[#b86a8a];
}
.game-btn img {
	@apply w-[25px] h-[25px] ml-[190px] mt-[-25px];
}