/* home.css */

/* Container for forms */
.hcontainer {
	@apply flex justify-center items-center p-5 h-[70vh] w-full top-[220px] box-border gap-7 z-20;
}

/* All for the Middle */
.hmiddle {
	@apply bg-black/80 fixed p-2.5 top-[200px] left-[220px] rounded-xl w-[75%] h-[70%] z-10;
}

/* Header */
.heder {
	@apply absolute mb-5 top-0 left-0 w-full text-center pt-5 font-bold text-[55px] font-sans text-[#dcdbdb] drop-shadow-[5px_5px_7px_#902063];
}
.line {
	@apply absolute top-[85px] left-[200px] right-[200px] border-b border-[#902063] pb-2;
}

/* Section for stats (Left) */
.user-stats {
	@apply w-[55%] h-[45vh] flex ml-2.5 flex-col gap-3.5 p-7 items-center justify-center rounded-lg mb-[140px] mt-[80px];
}
.stat-box {
	@apply w-[95%] mt-10 flex flex-col items-center text-center;
}
.smoll-stat-container {
	@apply flex justify-center w-full mt-2.5;
}
.smoll-stat-box {
	@apply rounded-md p-2.5 flex items-center gap-2.5;
}
.score-text, .best-score-text, .score-number {
	@apply font-bold text-[#dcdbdb];
}
.score-text {
	@apply text-[19px];
}
.best-score-text {
	@apply text-[26px] font-bold;
}
.score-number {
	@apply text-[18px];
}
.best-score img {
	@apply w-[270px] h-[270px] object-cover rounded-full mt-[-50px] mb-[-60px];
}
.Sbest-score img {
	@apply w-[270px] h-[195px] mb-[-30px];
}
.win-losse img {
	@apply w-[35px] h-[35px] object-cover rounded-full;
}

/* Section for leaderboard (Right) */
.leaderboard {
	@apply w-[35%] h-[45vh] mt-[70px] rounded-lg border-2 border-[#902063] flex flex-col items-center text-center relative;
}
.lboard {
	@apply text-center font-bold text-[28px] font-sans text-[#dcdbdb] mb-1 mt-4;
}
.leaderboard-entry {
	@apply mb-3.5 p-3.5 rounded-md flex items-center gap-1.5 justify-center;
}
.text-container {
	@apply items-end;
}
.position {
	@apply text-[16px] font-bold text-white;
}
.number {
	@apply text-[#dcdbdb] italic;
}
.text {
	@apply text-[#dcdbdb] text-[16px];
}
.number {
	@apply text-[14px] italic;
}
.img-container img {
	@apply w-[80px] h-[80px] object-cover rounded-full pr-2.5;
}

/* Button styling */
.buttons {
	@apply flex justify-center w-full mt-auto;
}
.btn {
	@apply fixed w-[27vh] top-[790px] p-3 text-[1.1rem] text-white bg-[#902063] border-none rounded-md cursor-pointer transition duration-300 font-sans;
}
.game-btn {
	@apply fixed w-[27vh] top-[870px] p-3 text-[1.1rem] text-white bg-[#902063] border-none rounded-md cursor-pointer transition duration-300 font-sans;
}
.btn:hover, .game-btn:hover {
	@apply bg-[#b86a8a];
}
.game-btn img {
	@apply w-[25px] h-[25px] ml-[215px] mt-[-25px];
}
