/* home.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Container for forms */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	height: 80vh;
	width: 100%;
	top: 220px;
	box-sizing: border-box;
	gap: 30px;
	z-index: 2; 
}

/* All for the Middle */
.middle {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	padding: 10px;
	top: 200px;
	left: 220px;
	border-radius: 15px;
	width: 75%;
	height: 70%; 
	z-index: 1;
}

h1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 70px;
	font-family: 'Roboto', Arial, sans-serif;
	color: #dcdbdb;
	text-shadow: 5px 5px 7px #902063; 
}

.line {
	position: absolute;
	top: 115px;
	left: 200px;
	right: 200px;
    border-bottom: 1px solid #902063;  
    padding-bottom: 10px; 
}

/* Section for stats (Left) */
.user-stats {
	width: 55%;
	height: 45vh;
	display: flex;
	margin-left: 10px;
	flex-direction: column;
	gap: 15px;
	padding: 30px;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin-bottom: 30px;
}
.stat-box {
	width: 95%;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.smoll-stat-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
}
.smoll-stat-box{
	border-radius: 8px;
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.score-text {
	font-size: 19px;
	font-weight: bold;
	color: #dcdbdb;
}
.best-score-text {
	font-size: 26px;
	font-weight: bold;
	color: #dcdbdb;
}
.score-number {
	font-size: 20px;
	color: #dcdbdb;
}
.best-score img {
	width: 270px;
	height: 270px;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -50px;
	margin-bottom: -60px;
}
.win-losse img {
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 50%;
}

/* Section for leaderboard (Right) */
.leaderboard {
	width: 35%;
	height: 45vh;
	border-radius: 10px;
	border: 3px solid #902063;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	position: relative;
}
h2 {
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	font-family: Arial, sans-serif;
	color: #dcdbdb;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.leaderboard-entry {
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	gap: 5px;
	justify-content: center;
}
.text-container {
	align-items: right;
}
.position {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}
.text {
	font-size: 16px;
	color: #dcdbdb;
}
.number {
	font-size: 14px;
	color: #dcdbdb;
}
.img-container img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
	padding-right: 10px;
}

/* Button styling */
.buttons {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: auto;
}
.btn {
	display: fixed;
	width: 27vh;
	padding: 12px;
	font-size: 1.1rem;
	color: white;
	background: #902063;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	font-family: Arial, sans-serif;
}
.btn:hover {
	background: #b86a8a;
}
