/* logIn.css */

/* Overlay for background */
.overlay {
	@apply fixed inset-0 w-full h-screen bg-[rgba(0,0,0,0.4)] z-[-1];
}

/* Container for forms */
.container {
	@apply bg-[rgba(0,0,0,0.8)] p-[40px] rounded-[15px] w-[400px] h-[400px] relative z-[1] box-border items-start;
}

.middle  {
	@apply w-full p-3 flex flex-col space-y-2 rounded-lg;
	background-color: var(--color-bg);
	border: 2px solid var(--color-box-border);
}

/* Header */
.header {
	@apply w-full text-[2.5rem] mb-[15px] text-white font-sans text-center;
}

/* Paragraph styling */
p {
	@apply w-full text-[1rem] mb-[px] mt-[5px] text-white font-sans text-center;
}

/* Paragraph 1 styling */
.p1 {
	@apply w-full text-[1rem] mb-[2px] mt-[20px] text-white font-sans text-left;
}

/* Input fields */
.input-field {
	@apply w-full py-[8px] pl-1 rounded-[5px] border-none text-black bg-white text-[1rem] box-border;
}
.input-field:focus {
	@apply outline-none ring-[2px] ring-[#fde7f4];
}

/* Button styling */
.buttons {
	@apply flex flex-col justify-center items-center;
}
.btn {
	@apply w-[400px] py-3 text-lg text-white bg-[#902063] rounded-[7px] cursor-pointer mt-5 transition-all box-border font-sans;
}
.btn:hover {
	@apply bg-[#b86a8a];
}
.btn-container {
	@apply fixed flex items-center justify-end top-5 right-5 z-10;
}

/* Language Button */
.language-btn {
	@apply bg-[#902063] w-[220px] py-3 pr-3 cursor-pointer rounded-lg text-white border border-gray-300 text-center text-lg font-sans;
}
.language-btn:hover {
	@apply bg-[#b86a8a];
}
.language-content {
	@apply hidden absolute bg-[#902063] border border-gray-300 rounded-md min-w-[219px] z-10 top-[43px] gap-2 flex-col;
}
.language-content.showLang {
	@apply block;
}
.language-content div {
	@apply p-2 flex items-center text-lg text-white cursor-pointer gap-2;
}
.language-content div:hover {
	@apply bg-[#b86a8a];
}
.language-content img, .language-btn img {
	@apply w-5 h-4;
}
.language-option {
	@apply py-2 cursor-pointer text-white text-center text-lg font-sans;
}
.language-btn img {
	@apply w-[25px] h-[15px] ml-40 mt-[-20px];
}


/* Eye Icon for Password */
.field-icon {
	@apply cursor-pointer absolute top-[253px] right-[50px];
}
.field-icon img {
	@apply w-[25px] h-[20px];
}

/* Error Messages */
.input-error {
	@apply border-[3px] border-red-500;
}
.error-text {
	@apply text-red-600 text-[1rem] mb-[2px] mt-[20px] text-left font-sans box-border;
}
