/* setting.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Container for forms */
.container {
	background: rgba(0, 0, 0, 0.0);
	padding: 40px;
	border-radius: 15px;
	width: 400px;
	border: solid, 3px, #902063;
	position: fixed;
	z-index: 1; 
}

/* Title styling */
.header {
	font-size: 2.5rem;
	margin-bottom: 15px;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	color: white;
	text-align: center;
}

/* Paragraph styling */
p {
	font-size: 1rem;
	margin-bottom: 5px;
	margin-top: 5px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	color: white;
	text-align: center;
}

/* Paragraph styling */
.p1 {
	font-size: 1rem;
	margin-bottom: 2px;
	margin-top: 20px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	color: white;
	text-align: left;
}

/* Input fields */
.input-field {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	border: none;
	/* border-color: black; */
	box-sizing: border-box;
	color: black;
	background-color: white;
	font-size: 1rem;
}
.input-field:focus {
	outline: none;
	border: 2px solid #fde7f4;
}

/* Button styling */
.buttons {
	display: flex;
	gap: 10px;
	justify-content: center;
}
.btn {
	width: 400px;
	padding: 12px;
	font-size: 1.1rem;
	color: white;
	background: #902063;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	transition: 0.3s;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
.btn:hover {
	background: #b86a8a;
}

/* Picture */
.profile-picture {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.profile-picture img {
	width: 100px; 
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid white;
}

/* Edit picture */
.edit-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 140px;

}
.edit-picture img {
	width: 100px; 
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid white;
}
.edit-picture img:hover {
	border: 3px solid #b86a8a;
}

.input-field.display-only {
	padding: 12px;
	border-radius: 5px;
	background-color: #b8b8b8;
	color: #000000;
	width: 100%;
	display: inline-block;
}

/* Eye icon for password */
.field-icon {
    cursor: pointer;
    position: absolute;
    margin-left: -35px; 
    margin-top: 10px; 
}
.field-icon img {
    width: 25px;
    height: 20px;
}

/* Error Messages */
.input-error {
	border: 3px solid rgb(255, 0, 0);
}
.error-text {
	color: rgb(228, 73, 73);
	font-size: 1rem;
	margin-bottom: 2px;
	margin-top: 20px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	text-align: left;
}