/* userMain.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Dark overlay -> for background */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

/* All for the Top Bar */
.topBar {
	background: #902063;
	position: fixed;
	width: 100%;
	height: 120px;
	display: flex;
	top: 0px;
	left: 0px;
	align-items: center;
	padding: 0 30px;
}

.topBarFrame {
	background: #902063;
	position: absolute;
	display: flex;
	height: 90px;
	right: 90px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50px;
	padding: 10px;
	align-items: center;
	gap: 15px;
	min-width: fit-content;
}

.aliasName {
	color: white;
	font-size: 20px;
	font-family: Arial, sans-serif;
	white-space: nowrap;
}

.profile-picture {
	display: flex;
	justify-content: center;
}

.profile-picture img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid white;
}

.settingIcon {
	background: #902063;
	height: 35px;
	width: 50px;
	margin-left: 200px;
	position: absolute;
	margin-top: 35px;
	margin-left: 150px;
	transform: translateY(-50%);
	z-index: 1;
}

.settingIcon:hover {
	display: block;
	background-color: #b86a8a;
}

/* Dropdown */
.dropdown {
	position: relative;
	text-align: center;
}

.dropdown-btn {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.dropdown-content {
	display: none;
	position: fixed;
	top: 120px;
	left: 0px;
	width: 220px;
	height: 100%;
	background: #902063;
	border-radius: 5px;
}

.dropdown-content.show {
	display: block;
}

.dropdown-item {
	padding: 10px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 20px;
	font-family: Arial, sans-serif;
}

.dropdown-item:hover {
	background: #b86a8a;
}

.dropdown-item.currentPage {
    font-weight: bold;
	background: #ab2d78;
    position: relative;
}
.dropdown-item.currentPage:hover {
	background: #b86a8a;
}
.dropdown-item.currentPage::after {
    content: '▶';
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.hidden {
	display: none;
}

.dropdown-content.show .hidden {
	display: inline-block;
}

/* Language */
.language-btn {
	background-color: #902063;
	width: 220px;
	padding: 10px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	border: none;
	text-align: center;
	font-size: 20px;
	font-family: Arial, sans-serif;
}

.language-btn:hover {
	background: #b86a8a;
}

.language-content {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	min-width: 100px;
	z-index: 1;
	left: 45px;
}

.language-content.showLang .hidden {
	display: inline-block;
}

.language-content.showLang {
	display: block;
}

.language-content div {
	padding: 8px;
	display: flex;
	align-items: center;
	font-size: 17px;
	gap: 5px;
	color: black;
	cursor: pointer;
	z-index: 1;
}

.language-content div:hover {
	background-color: #beb0b6;
}

.language-content img {
	width: 20px;
	height: 15px;
}

.language-option {
	padding: 10px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 20px;
	font-family: Arial, sans-serif;
}
.language-btn img {
	width: 25px;
	height: 15px;
}


/* Game */
.game-btn {
	background-color: #902063;
	width: 220px;
	padding: 10px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	border: none;
	text-align: center;
	font-size: 20px;
	font-family: Arial, sans-serif;
}

.game-btn:hover {
	background: #b86a8a;
}

.game-content {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	min-width: 100px;
	z-index: 1;
	left: 45px;
}

.game-content.showGame .hidden {
	display: inline-block;
}

.game-content.showGame {
	display: block;
}

.game-content div {
	padding: 8px;
	display: flex;
	align-items: center;
	font-size: 17px;
	gap: 5px;
	color: black;
	cursor: pointer;
	z-index: 1;
}

.game-content div:hover {
	background-color: #beb0b6;
}

.game-content img {
	width: 20px;
	height: 20px;
}

.game-option {
	padding: 10px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 20px;
	font-family: Arial, sans-serif;
}

.game-btn img {
	width: 22px;
	height: 22px;
}